body {
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	background: url("../img/barber-ground.jpg") no-repeat;
	font-family: "PTSans NarrowBold", sans-serif;
}
.main-menu {
	font-size: 16px;
	line-height: 20px;
}
.features,
.main-menu,
.main-footer {
	color: #ffffff;
}
.man-classic {
	font-size: 48px;
	line-height: 48px;
}
.active,
.good-article {s
	color: #aba9a7;
}
.
a {
	color: #ffffff;
}
h1,
h2,
b {
	font-size: 30px;
	line-height: 42px;
}
h3 {
	font-size: 24px;
	line-height: 30px;
}
/* Что-то я запутался в шрифтах -_- подскажи как лучше будет сделать)все страницы
   просмотрел всеравно никак толково прописать не получается */ 